<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h3 class="card-title">Welcome to Your Application</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet lobortis dui sed fringilla.</p>
                        <div class="list-group">
                            <a href="{% url 'transaction_create' %}" class="list-group-item list-group-item-action">Create Transaction</a>
                            <a href="{% url 'transaction_list' %}" class="list-group-item list-group-item-action">View Transaction List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
