<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expense Tracker App</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" 
        rel="stylesheet">
        {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
    <header>
        <center>
            <h1 class="title">Expense Tracker App  | <a href="{% url 'home' %}">Back to Home<</a></h1>
       </center>
    <header>
<section class="content">
